
/*  tamaño de la letra*/
.container-info-portada__p {
    font-size: 100px;
}
/* color de la letra*/
main section p {
    color: black;
}
ul li  {
    list-style: none;
}

ul a {
    color:rgb(247, 245, 245);
    transition: 6ms;
}



main {
    margin: 0 5% 0 5%;
}