/*////////////////////////////inicio//////////////////*/

/* titulo*/
h2 {
    text-align: center;
    font-family: 'Croissant One', cursive;
}

/* titulo*/
h3 {
    text-align: center;
    font-family: 'Croissant One', cursive;
}
/* intro de video*/
.container-info-metal-en-la-sangre__h3{
    text-align: center;
}
